body {
  font-family: Roboto;
  text-shadow: 1px 1px 10px rgba(177, 177, 177, 0.397),
    -1px -1px 10px rgba(177, 177, 177, 0.397);
  color: rgb(48, 48, 48);
}

input,
button {
  padding: 0.5rem;
}

form {
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.nav-bar {
  background-color: rgb(44, 44, 44);
}

.products-page {
  margin-top: 5rem;
}

.products-heading {
  justify-content: center;
}

.products-heading > h2 {
  font-weight: 400;
}
.products-heading > h2 > span {
  margin: 3rem;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.price {
  padding: 10px 0;
}

.products-container {
  text-align: center;
  padding-left: 7rem;
  padding-right: 7rem;
}

.product-card {
  text-align: center;
}

.horizontal {
  display: flex;
}

.horizontal > * {
  flex: 1;
  margin: 1rem;
  border: solid 1px dodgerBlue;
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

div > ul > li {
  border-bottom: solid 1px teal;
}

li > * {
  margin-bottom: 0.5rem;
}

.quantity {
  color: teal;
  font-weight: bold;
}

/* feature/product_listing */
/* Product Page Stylings */

.product-filter {
  display: flex;
  background-color: dodgerblue;
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
}

.parent > div {
  flex-grow: 1;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 1em;
}

.details {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 38px;
}
