body {
  font-family: sans-serif;
}

input,
button {
  padding: 0.5rem;
}

form {
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.horizontal {
  display: flex;
}

.horizontal > * {
  flex: 1;
  margin: 1rem;
  border: solid 1px dodgerBlue;
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

div > ul > li {
  border-bottom: solid 1px teal;
}

li > * {
  margin-bottom: 0.5rem;
}

.quantity {
  color: teal;
  font-weight: bold;
}

/* feature/product_listing */
/* Product Page Stylings */

.product-filter {
  display: flex;
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
}

.parent > div {
  flex-grow: 1;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 1em;

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;

}

.header > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;

}
